<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Webstudio56</title>
</head>
<body>
  <div class="pageWidthContainer">
    <header>
      <div class="headerLeft">
        <div class="headerLogo">
          <a href="#"><img src="./assets/images/logo.png" /></a>
        </div>
        <div class="headerMenuContainer">
          <a class="headerMenuLink" href="#">Услуги</a>
          <a class="headerMenuLink" href="./our_clients.html">Наши клиенты</a>
          <a class="headerMenuLink" href="./our_examples.html">Наши работы</a>
          <a class="headerMenuLink" href="./our_projects.html">Наши личные проекты</a>
        </div>
      </div>
      <div class="headerRight">
        <a class="headerMenuLink" href="tel:89228960175">+7(922)896-01-75</a>
        <div>
          <button class="headerMenuButton">Подать заявку</button>
        </div>
      </div>
    </head>    
  </div>
  <main>
    <div class="pageContent">
      <div class="pageWidthContainer">
        <h1 class="pageHeader">Landing page</h1>
        <h4 class="pageSubHeader text-center">Что это и для чего он нужен?</h4>

        <div class="breadcrumbs">
          <div class="pageWidthContainer">
            <div class="breadcrumbsContainer">
              <a class="breadcrumb_link" href="/">Главная</a>
              <div class="breadcrumb_text">Landingpage</div>
            </div>
          </div>
        </div>

        <div class="d-flex" style="gap: 20px; margin-bottom: 20px;">
          <img src="./assets/images/categories/landing.jpg" alt="landing" height="200">
          <div>
            <p>Лендинг — это одностраничный сайт, который побуждает посетителя к действию: купить, зарегистрироваться, оставить заявку, подписаться.</p>
            <p>Лендинг используют в маркетинге для рекламы и продажи товара или услуги, сбора контактных данных потенциальных покупателей (лидов), проверки вероятного спроса.</p>
            <p>Лендинг пейдж (англ. landing page — посадочная страница) презентует продукт, снимает возражения и подводит пользователя к целевому действию.</p>
          </div>
        </div>

        <div class="text-center">
          <button class="button-order">Заказать LANDING PAGE</button>
        </div>
       
        <h3>Как работает лендинг?</h3>
        <p>Пользователь переходит по ссылке и попадает на сайт. На первом экране он видит заголовок с понятным и конкретным предложением. Если предложение интересно, посетитель привычным движением пролистывает страницу вниз. Каждый последующий блок подогревает интерес к товару и снимает возражения. На последнем экране пользователь совершает целевое действие: покупает продукт или оставляет свои контакты (имя, email, телефон), чтобы получить что-то бесплатно.</p>

        <h3>Преимущества лендинга</h3>
        <p><b>Высокая конверсия.</b> Главное преимущество посадочной страницы — более высокая конверсия по сравнению с традиционными сайтами, т.е. большая доля посетителей достигает поставленной на лендинге цели.</p>
        <p><b>Быстрый запуск.</b> Одностраничник не требует разработки сложного дизайна и архитектуры сайта. С готовыми шаблонами запустить лендинг можно уже через несколько часов.</p>
        <p><b>Гибкость.</b> Возможность создавать неограниченное число страниц одновременно, проводить А/В тестирования для выявления слабых и сильных мест лендинга, оперативно вносить изменения.</p>
        
        <h3>Распортраненные виды landing page</h3>
        <div>
          <p><strong>Товарная посадочная страница</strong></p>
          <p>Товарный лендинг побуждает посетителя купить конкретный товар или записаться на тест-драйв. На товарной посадочной странице есть описание продукта, фотографии, отзывы, цена.</p>
          <p>В отличие от карточки в интернет-магазине, лендинг призывает к покупке. Для этого применяются мотиваторы (ограниченное предложение, специальная цена),  снимаются возражения и страхи (гарантия возврата и низкой цены, рекомендации по использованию).</p>
          <p>Товарный лендинг подходит для продвижения одного товара или небольшой линейки. Если у компании несколько позиций, для каждой нужно создать отдельную страницу.</p>
          <div class="text-right"><button class="button-order" data-title="LP: Посадочная страницу">Заказать LANDING PAGE: посадочную страницу</button></div>
        </div>
        <div>
          <p><strong>Лендинг по услугам</strong></p>
          <p>Лендинг, продвигающий услуги, аналогичен товарному. Целевое действие такой страницы — записаться на прием, позвонить консультанту, вызвать мастера.</p>
          <p>На таких лендингах подробно описывают все этапы предоставления услуги, размещают фотоотчеты и отзывы довольных клиентов. Самое важное — рассказать, какие проблемы поможет решить услуга и каким образом.</p>
          <div class="text-right"><button class="button-order" data-title="LP: По услугам">Заказать LANDING PAGE: по услугам</button></div>
        </div>
        <div>
          <p><strong>Подписная страница</strong></p>
          <p>Целевое действие подписной страницы — подписка на тематическую рассылку. С её помощью вы быстро соберете базу потенциальных клиентов, заинтересованных в продукте.</p>
          <p>Посетителю сайта проще принять решение о подписке, чем о покупке. Расскажите, какие письма хотите присылать. Навязчивая реклама продукта — плохо. Серия обучающих писем, раскрывающих экспертность, — хорошо.</p>
          <p>Четко обозначьте пользу, что клиент получит взамен контактных данных. Заманчиво получить бесплатную консультацию, скидку или пробный период.</p>
          <div class="text-right"><button class="button-order" data-title="LP: Подписная страница">Заказать LANDING PAGE: подписная страница</button></div>
        </div>
        <div>
          <p><strong>Брендовая посадочная страница</strong></p>
          <p>Брендовая посадочная страница — это презентация компании или продукта. Она подойдет для продвижения новой услуги или товара без продажи на лендинге. Такой товар реализуется через розничные сети, дистрибьюторов или интернет-магазины партнеров. Брендовый лендинг создает отложенный спрос, рекламирует, повышает интерес и доверие к новому продукту. Целевое действие на брендовых посадочных страницах чаще всего отсутствует.</p>
          <div class="text-right"><button class="button-order" data-title="LP: Брендовая посадочная страница">Заказать LANDING PAGE: брендовая посадочная страница</button></div>
        </div>
        </ul>
      </div>
      
    </div>
    </main>
  <footer>
    <div class="pageWidthContainer">
      <div class="footerContainer">
        <div class="footerItem">
          <a href="/">
            <img src="./assets/images/logo.png" alt="Webstudio56">
          </a>
          <div class="copyInfo">
            WebStudio56 &copy;2022 <br />
            Все права защищены
          </div>
          <a href="#">Возможности</a>
          <a href="./our_command.html">Наша команда</a>
        </div>
        <div class="footerItem">
          <h3>Основные</h3>
          <a href="#">Главная</a>
          <a href="#">Услуги</a>
          <a href="#">Тарифы</a>
          <a href="#">Договор-оферта</a>
        </div>
        <div class="footerItem">
          <h3>Продукты</h3>
          <a href="#">Примеры работ</a>
          <a href="#">Отзывы</a>
          <a href="#">Партнеры</a>
        </div>
        <div class="footerItem">
          <h3>Поддержка</h3>
          <p>Телефон: <a href="tel:89228960175">8-922-896-01-75</a></p>
          <p>Email: <a href="mailto:nimpweb@yandex.ru">nimpweb@yandex.ru</a></p>
          <a href="#">Контакты</a>
          <a href="#">Партнеры</a>
        </div>
      </div>
      <p class="policyText">Заполняя и отправляя любые данные в формах, вы принимаете <a href="#">Положение</a> и <a href="#">Согласие</a> на обработку персональных данных.</p>
    </div>
  </footer>

  <div class="modal">
    <div class="modalContent">
      <div class="modalHeader">
        <span class="modalHeaderClose">&times;</span>
      </div>
      <div class="modalBody">
        <div class="text-center">
          <h3 class="titleValue"></h3>
        </div>
        <label class="inputLabel">
          Как к Вам обращаться?
          <input class="inputText" />
        </label>
        <label class="inputLabel">
          Ваш номер телефона
          <input class="inputText" />
        </label>
        <label class="inputLabel">
          Электронный адрес для получения ТЗ
          <input class="inputText" />
        </label>
        <p>Отправляя эту форму вы даете согласие на обработку и ознакомление с Вашей персональной информацией.</p>
        <div class="text-center mt20">
          <button class="headerMenuButton">Отправить заявку</button>
        </div>
      </div>
    </div>
  </div>

  <script src="./assets/js/modal.js"></script>
</body>
</html>