<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Webstudio56</title>
</head>
<body>
  <div class="pageWidthContainer">
    <header>
      <div class="headerLeft">
        <div class="headerLogo">
          <a href="#"><img src="./assets/images/logo.png" /></a>
        </div>
        <div class="headerMenuContainer">
          <a class="headerMenuLink" href="#">Услуги</a>
          <a class="headerMenuLink" href="#">Наши клиенты</a>
        </div>
      </div>
      <div class="headerRight">
        <a class="headerMenuLink" href="tel:89228960175">+7(922)896-01-75</a>
        <div>
          <button class="headerMenuButton">Подать заявку</button>
        </div>
      </div>
    </head>    
  </div>

  <main>
    <div class="pageContent">

      <div class="pageWidthContainer">
        <h1 class="pageHeader">Наша команда</h1>

        <div class="breadcrumbs">
          <div class="pageWidthContainer">
            <div class="breadcrumbsContainer">
              <a class="breadcrumb_link" href="/">Главная</a>
              <div class="breadcrumb_text">О команде</div>
            </div>
          </div>
        </div>

        <p>Наш офис находится в центре города Оренбурга, на пересечении улиц Цвиллига и Рыбаковской. Мы работаем ежедневно, но в выходные дни исключительно по электронной почте или телефону. Техническая поддержка наших сайтов, которые находятся на обслуживании осуществляется круглосуточно.</p>
        <p>На текущий момент в компании работают три сотрудника, которые выполняют поставленные задачи на высоком уровне.</p>

        <div class="content">
          <div class="contentItem">
            <div class="imageContainer">
              <img src="./assets/images/command/command_1.jpg" alt="command">
            </div>
            <div class="infoContainer">
              <p><strong>Устинов Андрей Александрович</strong></p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ad suscipit, nisi corrupti quas impedit incidunt reiciendis cumque assumenda molestias, quaerat doloremque. Atque dignissimos libero ullam quae voluptatum, mollitia molestias.
              Soluta quod eligendi veritatis cum dolorum. Ea, hic animi quasi explicabo repellendus recusandae possimus! Enim id sequi, architecto cumque quia facere vitae ex, quasi molestiae praesentium perferendis in modi ducimus?
              Ratione, earum laudantium odio sint nostrum iusto obcaecati nisi perspiciatis a tempora modi, eaque quis, fugit nam adipisci blanditiis saepe rerum assumenda et consectetur totam quasi. Officia totam ratione corrupti!</p>
              <hr class="smallLine" />
              Вы можете связаться со мной - <a href="mailto:mail@mail.ru">mail@mail.ru</a> | <a href="tel:89228960175">8(922)896-01-75</a>
            </div>
          </div>
          <div class="contentItem">
            <div class="imageContainer">
              <img src="./assets/images/command/command_2.jpg" alt="command">
            </div>
            <div class="infoContainer">
              <p><strong>Нестеров Максим Петрович</strong></p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt ad suscipit, nisi corrupti quas impedit incidunt reiciendis cumque assumenda molestias, quaerat doloremque. Atque dignissimos libero ullam quae voluptatum, mollitia molestias.
                Soluta quod eligendi veritatis cum dolorum. Ea, hic animi quasi explicabo repellendus recusandae possimus! Enim id sequi, architecto cumque quia facere vitae ex, quasi molestiae praesentium perferendis in modi ducimus?
                Ratione, earum laudantium odio sint nostrum iusto obcaecati nisi perspiciatis a tempora modi, eaque quis, fugit nam adipisci blanditiis saepe rerum assumenda et consectetur totam quasi. Officia totam ratione corrupti!</p>
                <hr class="smallLine" />
                Вы можете связаться со мной - <a href="mailto:mail@mail.ru">mail@mail.ru</a> | <a href="tel:89228960175">8(922)896-01-75</a>
            </div>
          </div>
        </div>

      </div>

      
    </div>
  </main>
  <footer>
    <div class="pageWidthContainer">
      <div class="footerContainer">
        <div class="footerItem">
          <a href="/">
            <img src="./assets/images/logo.png" alt="Webstudio56">
          </a>
          <div class="copyInfo">
            WebStudio56 &copy;2022 <br />
            Все права защищены
          </div>
          <a href="#">Возможности</a>
          <a href="#">Наша команда</a>
        </div>
        <div class="footerItem">
          <h3>Основные</h3>
          <a href="#">Главная</a>
          <a href="#">Услуги</a>
          <a href="#">Тарифы</a>
          <a href="#">Договор-оферта</a>
        </div>
        <div class="footerItem">
          <h3>Продукты</h3>
          <a href="#">Примеры работ</a>
          <a href="#">Отзывы</a>
          <a href="#">Партнеры</a>
        </div>
        <div class="footerItem">
          <h3>Поддержка</h3>
          <p>Телефон: <a href="tel:89228960175">8-922-896-01-75</a></p>
          <p>Email: <a href="mailto:nimpweb@yandex.ru">nimpweb@yandex.ru</a></p>
          <a href="#">Контакты</a>
          <a href="#">Партнеры</a>
        </div>
      </div>
      <p class="policyText">Заполняя и отправляя любые данные в формах, вы принимаете <a href="#">Положение</a> и <a href="#">Согласие</a> на обработку персональных данных.</p>
    </div>
  </footer>

</body>
</html>