<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Webstudio56</title>
</head>
<body>
  <div class="pageWidthContainer">
    <header>
      <div class="headerLeft">
        <div class="headerLogo">
          <a href="#"><img src="./assets/images/logo.png" /></a>
        </div>
        <div class="headerMenuContainer">
          <a class="headerMenuLink" href="#">Услуги</a>
          <a class="headerMenuLink" href="./our_clients.html">Наши клиенты</a>
          <a class="headerMenuLink" href="./our_exaples.html">Наши работы</a>
          <a class="headerMenuLink" href="./our_projects.html">Наши личные проекты</a>
        </div>
      </div>
      <div class="headerRight">
        <a class="headerMenuLink" href="tel:89228960175">+7(922)896-01-75</a>
        <div>
          <button class="headerMenuButton">Подать заявку</button>
        </div>
      </div>
    </head>    
  </div>
  <main>
   
    <div class="pageContent">

      <div class="pageWidthContainer">
        <h1 class="pageHeader">Наши работы</h1>

        <div class="breadcrumbs">
          <div class="pageWidthContainer">
            <div class="breadcrumbsContainer">
              <a class="breadcrumb_link" href="/">Главная</a>
              <div class="breadcrumb_text">Наши работы</div>
            </div>
          </div>
        </div>
      </div>

      <div class="pageWidthContainer">
        <div class="worksFilterContainer">
          <a class="worksFilterItem active" href="#">
            <img src="./assets/images/works/categories/landing.png" alt="">
            Лэндинги
          </a>
          <a class="worksFilterItem" href="#">
            <img src="./assets/images/works/categories/vizitka.png" alt="">
            Визитки
          </a>
          <a class="worksFilterItem" href="#">
            <img src="./assets/images/works/categories/catalog.png" alt="">
            Каталог
          </a>
          <a class="worksFilterItem" href="#">
            <img src="./assets/images/works/categories/shop.png" alt="">
            Интернет-магазин
          </a>
        </div>
      </div>

      <div class="pageWidthContainer">
        <p>На этой странице можно ознакомиться с примерами landing page, которые были созданы нами. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, odio veritatis. Quibusdam veritatis est obcaecati, in minus perferendis fugiat quidem doloremque quos eveniet magni repellendus id dolores officia, perspiciatis dolore.
        Beatae nobis natus perspiciatis maiores sequi harum doloremque officia quasi ipsam quod accusantium provident adipisci corporis, fuga, ex reiciendis ut porro praesentium veniam perferendis aut. Sapiente ea dicta ipsa corrupti?</p>
        <br />
        <div class="worksContainer">

          <div class="worksItem">
            <a class="imageLink" href="#">
              <img src="./assets/images/works/site_3.png" alt="work" />
            </a>
            <h5>Сайт-визитка компании "Адонис"</h5>
            <p class="content">Компания занимающаяся деятельностю по реализации оргтехники в оренбурге и регионах</p>
            <p class="content">CMS: <strong>Joomla</strong></p>
            <div class="buttonsContainer">
              <a class="buttonLeft" href="#">Просмотр</a>
              <button class="buttonRight">Хочу такой же</button>
            </div>
          </div>
          <div class="worksItem">
            <a class="imageLink" href="#">
              <img src="./assets/images/works/site_2.png" alt="work" />
            </a>
            <h5>Интернет-магазин компании "Адонис"</h5>
            <p class="content">Специализируется на продаже принтеров, сканеров, оригинальных/неоригинальных картриджей</p>
            <p class="content">CMS: <strong>самописная</strong></p>
            <div class="buttonsContainer">
              <a class="buttonLeft" href="#">Просмотр</a>
              <button class="buttonRight">Хочу такой же</button>
            </div>
          </div>
          <div class="worksItem">
            <a class="imageLink" href="#">
              <img src="./assets/images/works/site_1.png" alt="work" />
            </a>
            <h5>Интеренет-магазин "Мегаком"</h5>
            <p class="content">Интернет-магазин по продаже товаров для электричества, счетчики электроэнегии, розтки и т.п. </p>
            <p class="content">CMS: <strong>Самописная</strong></p>
            <div class="buttonsContainer">
              <a class="buttonLeft" href="#">Просмотр</a>
              <button class="buttonRight">Хочу такой же</button>
            </div>
          </div>
          
          <div class="worksItem">
            <a class="imageLink" href="#">
              <img src="./assets/images/works/site_3.png" alt="work" />
            </a>
            <h5>Сайт-визитка компании "Адонис"</h5>
            <p class="content">Компания занимающаяся деятельностю по реализации оргтехники в оренбурге и регионах</p>
            <p class="content">CMS: <strong>Joomla</strong></p>
            <div class="buttonsContainer">
              <a class="buttonLeft" href="#">Просмотр</a>
              <button class="buttonRight">Хочу такой же</button>
            </div>
          </div>
          <div class="worksItem">
            <a class="imageLink" href="#">
              <img src="./assets/images/works/site_2.png" alt="work" />
            </a>
            <h5>Интернет-магазин компании "Адонис"</h5>
            <p class="content">Специализируется на продаже принтеров, сканеров, оригинальных/неоригинальных картриджей</p>
            <p class="content">CMS: <strong>самописная</strong></p>
            <div class="buttonsContainer">
              <a class="buttonLeft" href="#">Просмотр</a>
              <button class="buttonRight">Хочу такой же</button>
            </div>
          </div>
          <div class="worksItem">
            <a class="imageLink" href="#">
              <img src="./assets/images/works/site_1.png" alt="work" />
            </a>
            <h5>Интеренет-магазин "Мегаком"</h5>
            <p class="content">Интернет-магазин по продаже товаров для электричества, счетчики электроэнегии, розтки и т.п. </p>
            <p class="content">CMS: <strong>Самописная</strong></p>
            <div class="buttonsContainer">
              <a class="buttonLeft" href="#">Просмотр</a>
              <button class="buttonRight">Хочу такой же</button>
            </div>
          </div>
          
        </div>
      </div>

      <div class="pageWidthContainer">
        <div class="pagination">
          <a class="pageLink" href="#">1</a>
          <a class="pageLink" href="#">2</a>
          <a class="pageText" href="#">...</a>
          <a class="pageLink" href="#">9</a>
          <a class="pageLink" href="#">10</a>
        </div>
      </div>

      <div class="pageWidthContainer mt20">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis non officiis labore deleniti maiores ut soluta dolore, praesentium, odio voluptatibus eaque quod voluptatum aliquam voluptate vel possimus dolorum ipsum incidunt!
        Nostrum impedit quaerat, reiciendis eaque natus, maiores, deserunt veniam consectetur dolore quae ducimus voluptatem. Cupiditate veniam, incidunt obcaecati repudiandae sint commodi officiis quisquam doloremque voluptatem modi autem nostrum animi illo.
        Corrupti quis fugit eligendi asperiores nostrum qui laboriosam nulla odit voluptate adipisci, non architecto atque sunt ad cumque eos consectetur totam provident! Perferendis enim adipisci officia architecto consequatur! Pariatur, velit.
        Voluptatum placeat dolor ea, magnam fugit velit voluptatem perspiciatis dolores itaque? Officia accusamus maiores voluptate temporibus, sapiente provident, excepturi obcaecati nobis alias, unde voluptatum ratione optio quis mollitia blanditiis nostrum.
        Officia eveniet eligendi iure labore. Eos quaerat itaque magnam soluta cupiditate perspiciatis sequi magni repellat aspernatur aperiam, ipsam dolore vero! Architecto facere ratione officiis nostrum debitis nam veniam quam sapiente.
        </p>
      </div>
    </div>
  </main>
  <footer>
    <div class="pageWidthContainer">
      <div class="footerContainer">
        <div class="footerItem">
          <a href="/">
            <img src="./assets/images/logo.png" alt="Webstudio56">
          </a>
          <div class="copyInfo">
            WebStudio56 &copy;2022 <br />
            Все права защищены
          </div>
          <a href="#">Возможности</a>
          <a href="./our_command.html">Наша команда</a>
        </div>
        <div class="footerItem">
          <h3>Основные</h3>
          <a href="#">Главная</a>
          <a href="#">Услуги</a>
          <a href="#">Тарифы</a>
          <a href="#">Договор-оферта</a>
        </div>
        <div class="footerItem">
          <h3>Продукты</h3>
          <a href="#">Примеры работ</a>
          <a href="#">Отзывы</a>
          <a href="#">Партнеры</a>
        </div>
        <div class="footerItem">
          <h3>Поддержка</h3>
          <p>Телефон: <a href="tel:89228960175">8-922-896-01-75</a></p>
          <p>Email: <a href="mailto:nimpweb@yandex.ru">nimpweb@yandex.ru</a></p>
          <a href="#">Контакты</a>
          <a href="#">Партнеры</a>
        </div>
      </div>
      <p class="policyText">Заполняя и отправляя любые данные в формах, вы принимаете <a href="#">Положение</a> и <a href="#">Согласие</a> на обработку персональных данных.</p>
    </div>
  </footer>

  <div class="modal">
    <div class="modalContent">
      <div class="modalHeader">
        <h3>Зголовок</h3>  
        <span class="modalHeaderClose">&times;</span>
      </div>
      <div class="modalBody">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, obcaecati assumenda labore cupiditate, quod unde dolore numquam, accusantium voluptate dolorum itaque eum culpa! Velit minus unde corporis consequuntur suscipit necessitatibus!
        Eius reprehenderit adipisci dolore numquam, minus iste nostrum provident exercitationem facere est, magni quas dolorum necessitatibus tempora odio nisi dicta ut. Dolorum voluptas voluptatum quod quis eveniet dicta, voluptate aut.
        Earum amet et autem quas impedit quo laudantium, optio error rem. Hic quis ratione animi mollitia qui, a, sed, voluptas perspiciatis distinctio eos fuga cupiditate. Unde similique in culpa nihil!
      </div>
    </div>
  </div>

</body>
</html>