.footer {
  margin-top: 50px;
}

.footerContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footerItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footerItem h3 {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.policyText {
  text-align: center;
  margin-top: 50px;
  font-size: 10px;
  color: rgba(0, 0, 0, .5);
}

.copyInfo {
  font-size: 12px;
}